pipeline/pl_troubleshooting.json
{
	"name": "pl_troubleshooting",
	"properties": {
		"activities": [
			{
				"name": "Copy From Blob To Azure SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Backup SQL Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name"
								}
							},
							{
								"source": {
									"name": "Code",
									"type": "String"
								},
								"sink": {
									"name": "Code"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CsvData",
						"type": "DatasetReference",
						"parameters": {
							"filename": "airlines.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSQLTablesDataset",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "Airline"
						}
					}
				]
			},
			{
				"name": "Backup SQL Data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSQLTablesDataset",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "Airline"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "CsvData",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@concat('Airlines-', utcnow(), '.csv' )",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Record Status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set Success",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Failure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertPipelineLog]",
					"storedProcedureParameters": {
						"PipelineID": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "@variables('Status')",
								"type": "Expression"
							},
							"type": "String"
						},
						"UpdatedAt": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy From Blob To Azure SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Status",
					"value": "Success"
				}
			},
			{
				"name": "Set Failure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy From Blob To Azure SQL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Status",
					"value": "Failure"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"variables": {
			"Status": {
				"type": "String",
				"defaultValue": "Unknown"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-09-13T20:58:52Z"
	}
}